@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import "~uikit/dist/css/uikit.min.css";
@import "assets/stylesheets/application.scss";

* {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"]
{
  font-family: 'Roboto Mono', monospace;
}

::placeholder {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
}

/* Overrides for UIKit theme */
.uk-navbar-nav > li > p > a {
  min-height: 80px !important;
}

.uk-card {
  background-color: rgb(233, 227, 231) !important;
}

.uk-card-header {
  border-bottom-color: white !important;
}

.uk-card-footer {
  border-top-color: white !important;
}

