body > #root > div.bg {
  height: 100vh;
}

.bg {
  background: url(parallax.png) top right no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.cards-container {
  overflow-y: scroll;
  height: 100vh;
  padding-top: 15px;
  padding-left: 25%;
  padding-right: 25%;
}

.card-wrapper {
  width: 250px;
}

.card-content {
  display: flex;
  width: 100%;
}

.card-title {
  border-bottom: 1px solid lightblue;
}

.card-text {
  flex: 1 0 auto;
}

.card-controls-wrapper {
  display: flex;
  flex-direction: row;
}
