
html {
  background: url(bg-dawn-sky.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.news-api-logo {
  background-image: url(news-api-logo.png);
}

.scroller {
  height: 90vh;
  padding-top: 20px;
  //padding-bottom: 40px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

input.disable {
  pointer-events: none;
  opacity: 0.5;
}

.nav-bar-themed {
  height: 80px;
  //position: fixed;
  //top: 0;
  //width: 100%;
  background-color:rgb(163, 133, 154) !important;
}

.nav-el-active {
  color: black !important;
}

.nav-el-inactive {
  color: #d8d8d8 !important;
}

.nav-search-input {
  border-radius: 5px;
  border-width: 2px;
  border-color:  rgb(163, 133, 154);
  background-color: rgb(233, 227, 231);
}

.nav-bookmarks {
  border-radius: 5px;
}

.nav-search-input {
  border-radius: 5px;
  background-color: rgb(233, 227, 231);
}

.filters-card {
  padding: 15px;
  border: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color:  rgb(163, 133, 154);
  background-color: rgb(233, 227, 231) !important;
}

.filters-container {
  position: fixed;
}

.card-wrapper {
  border: solid;
  border-width: 2px;
  border-color: rgb(163, 133, 154);
}

.card-header-divier {
  border-bottom: 2px solid rgb(163, 133, 154) !important;
}
